<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layoutMDB :: head">
</head>
	<title>Đăng kí</title>
</head>
<body class="p-0">
	<div th:replace="layoutMDB ::header"></div>
	<div class="container">
		<!-- Default form register -->
		  <form class="text-center border border-light p-5" style="background-color:#ffffff" action="#!">
		
		    <p class="h4 mb-4">Đăng kí</p>
		
		    <div class="form-row mb-4">
		        <div class="col">
		            <!-- First name -->
		            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Tên">
		        </div>
		        <div class="col">
		            <!-- Last name -->
		            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Họ">
		        </div>
		    </div>
		
		    <!-- E-mail -->
		    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
		
		    <!-- Password -->
		    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Mật khẩu" aria-describedby="defaultRegisterFormPasswordHelpBlock">
		    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
		        Ít nhất 8 kí tự và 1 chữ số
		    </small>
		
		    <!-- Phone number -->
		    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Số điện thoại" aria-describedby="defaultRegisterFormPhoneHelpBlock">
		    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
		        Nhập số điện thoại
		    </small>
		
		
		    <!-- Sign up button -->
		    <button class="btn btn-info my-4 btn-block" type="submit">Đăng nhập</button>
		
		    <!-- Social register -->
		   
		
		    <hr>
		
		    <!-- Terms of service -->
		    <p>Bằng cách click
		        <em>đăng kí</em> bạn đã đồng ý với 
		        <a href="" target="_blank">điều khoản của chúng tôi</a>
		
		  </form>
<!-- Default form register -->  
	</div>
</body>
</html>